body{
    background-color: rgb(113, 113, 113);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.arrow {
    display: inline-block;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-135deg);
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}

.quote{
    text-align: center;
    width: 80vw;
}

.space-around{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
}

.text-subtext{
    text-align: center;
}
